body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: #a4d5e6;
}

.masterContainer {
  position: relative;
  top: 3em;
}

.masterContainer > h1 {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 4em;
}

.loading {
  text-align: center;
  margin: 10%;
}

.results {
  position: relative;
  top: 5em;
  font-size: 1.3em;
}

.results > img {
  display: inline-block;
  color: white;
  width: 3em;
}

.allCityButtons {
  position: relative;
  top: 2em;
  margin-left: 19%;
  margin-right: 19%;
}


.button {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border: solid;
  padding: 1.5em;
  color: white;
  transition: .3s;
  font-size: 1.5em;
}

.button:hover {
  background-color: white;
  color: #a4d5e6;
  transition: .3s;
}

.results {
  border: solid;
  padding: 1em;
  margin-left: 19.8%;
  margin-right: 19.8%;
}
